In [3]:
from sklearn.datasets import fetch_california_housing
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.externals import joblib
import pickle
import time

RANDOM_STATE = 42

In [4]:
dataset = fetch_california_housing()

In [5]:
dataset_df = pd.DataFrame(data=dataset.data, columns=dataset.feature_names)

In [6]:
dataset_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [7]:
dataset_df.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000

In [8]:
X_data, y_data = dataset.data, dataset.target
X_train, X_test, y_train, y_test = train_test_split(X_data, y_data, test_size=0.2, random_state=RANDOM_STATE)
print('Train data shape:', X_data.shape)
print('Test data shape:', X_test.shape)

Train data shape: (20640, 8)
Test data shape: (4128, 8)

In [9]:
def create_model():
    model = RandomForestRegressor(n_estimators=100, max_depth=10 random_state=RANDOM_STATE)
    
    return model

SyntaxError: invalid syntax (<ipython-input-9-a5732be94521>, line 2)

In [10]:
model = create_model()

NameError: name 'create_model' is not defined

In [11]:
model.fit(X_train, y_train)

NameError: name 'model' is not defined

In [12]:
y_pred_test = model.predict(X_test)
print(mean_squared_error(y_test, y_pred_test))

NameError: name 'model' is not defined

In [13]:
model = create_model()

NameError: name 'create_model' is not defined

In [14]:
model.fit(X_data, y_data)

NameError: name 'model' is not defined

In [15]:
model_id = str(time.time()) 
model_name = 'model_' + model_id + '.pkl'

with open(model_name, 'wb') as file:
    pickle.dump(model, file)
print(model_name, 'saved.')

NameError: name 'model' is not defined